* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alkalami", serif;
}

.titulo {
  font-size: 3.5rem;
  color: rgb(4, 0, 8);
  text-decoration: underline;
  font-weight: 100;
  text-align: center;
}

.cuadro {
  display: flex;
  text-align: center;
  justify-content: center;
}

.fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://i.pinimg.com/originals/77/f9/75/77f975d35ee6debd8060f62a5fc2e43a.jpg);
  width: 100%;
  max-width: 100%;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
}

article {
  text-align: center;
  text-decoration: none;
  color: rgb(236, 218, 218);
  text-decoration: solid;
  background-color: rgba(75, 81, 81, 0.351);
}
.comentarios {
  color: black;
  text-align: center;
}

.logo {
  width: 200px;
  display: flex;
}

.imagen {
  border-radius: 25px;
}

.elaboracion1 {
  width: 400px;
}
.elaboracion2 {
  width: 500px;
}

section {
  padding-inline: 40px;
  display: grid;
  grid-template-columns: 1fr;
}

button {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #0847c4, #ae99ec);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

img {
  animation-name: historia1moviemiento;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes historia1moviemiento {
  from {
    width: 200px;
  }
  to {
    width: 50%;
  }
}
